<div>
    <h1>Tommy Shelby</h1>
  </div>
  <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Activities</a></li>
        <li><a href="/works">More informations</a></li>
        <!-- <li><a href="/pictures"></a></li> -->
      </ul>
    </nav>
<div>
    <h1>The Peaky Blinders Boss</h1>
    <section>
        <img src="https://parismatch.be/app/uploads/2018/05/peaky-blinders-e1526387115662-1048x715.jpg" alt="tommy" width="500px" />
        <h4>Thomas Michael Shelby was born in 1890, to Arthur and Mrs. Shelby. He was born on a boat, in a barge called ‘The January’ and had an elder brother, Arthur Shelby, who he was extremely close with as a child. Over the years, Thomas’ parents welcomed three more children, John, Ada and Finn Shelby.

            Thomas’ parents were both Gypsies, making him and all of his siblings full-blooded Gypsies as well. It is implied by Thomas’ paternal aunt, Polly Gray, that the Lee Family are the Shelby Family’s kin, through their mother. They also have Irish Traveller ancestry, this is because Polly mentioned that alongside Romani, they should not speak Shelta around Karl Thorne, which is the language spoken by Irish Travellers. It is also heavily implied that their father was a partial Irish Traveller.
            
            While growing up in Small Heath, Birmingham, Thomas carried a switchblade and a screwdriver on him and would tell the other children in the area that he could lay curses, so they were afraid of him and didn't pick on or tease him because of it. Thomas and his siblings would have to get their fathers beer from The Garrison. However, because they were so little, it would take two of them to carry one bucket back to their house. Thomas would also fight with his brothers over cigarettes and one time, when Thomas was 9 and Arthur was 12, they got into a massive physical argument. Thomas pinned Arthur against the ground and began hitting him several times over the head, later winning the fight, although Thomas acknowledged that Arthur let him win. Their mother had a close friend, Charlie Strong, who was around a lot during their upbringing, which resulted in them looking up to him as their ‘uncle’.
            
            In 1909, when the youngest Shelby sibling was still an infant, their mother became severely depressed and contemplated suicide. Their father was no help, so Charlie intervened and convinced her to go on the road, so she left Birmingham and travelled to Worcester. When she returned from her trip, she bought back a white pony and gifted it to Thomas. She watched Thomas ride the pony around for a few weeks, seemingly in a much better mindset than she was before her trip. Charlie believed she was better, however he was wrong. Shortly after her return, Mrs. Shelby jumped into the canal and committed suicide, like her own father before her. Charlie had the job of removing Mrs. Shelby’s body from the canal, which broke his heart, as he was secretly in love with her.
            
            Shortly after Mrs. Shelby’s death, Thomas’ father began finding it hard to cope, raising five children on his own. He eventually abandoned them all in the care of his sister, and left Birmingham. Polly was left alone to raise her niece and nephews, and became the head of the house, as well as their mother figure. This resulted in the Shelby siblings gaining immense respect for Polly as they got older since they were extremely grateful for all she had done for them.
            
            Sometime before 1914, Thomas fell deeply in love with an Italian girl, Greta Jurossi. Her parents didn’t approve of a Gypsy boy dating their daughter, but Thomas eventually won them over with his charm and sweetness. A few months later, Greta became extremely ill with consumption and although the disease was contagious, Thomas stayed by her bedside for three months, holding her hand. Greta eventually died from her illness, which broke Thomas’ heart.
            
            In May 1914, Thomas met a Romani girl called Zelda, while at the Appleby Fair. Zelda stole Thomas’ watch and chain, but despite this, later that day they had sex underneath a hazel tree. Zelda became pregnant with Thomas’ child and when her father found out, he shot Thomas in the chest with a squirrel gun. Her father wanted to kill Thomas, but before he could do so, Thomas was sent away to fight in WWI, along with two of his brothers.
            
            In early 1915, while Thomas was in France fighting in WWI, Zelda gave birth to their child, a son called Erasmus Shelby. Although Thomas returned from war in 1918, he never tried to contact Zelda and she raised their son alone. When Erasmus became older, he asked his mother who his father was and Zelda told him a false story. Zelda still had the watch she had stollen from Thomas, which had the words “Saxon Shore” carved on the back, so she told Erasmus that his father was the Duke of the Saxon Shore. As a result, Erasmus changed his name to ‘Duke’ and doesn’t like people using his birth name.
            
            It is implied that Thomas had a drastic personality shift, before and after his experiences in the WWI, during which he was a Tunneller or Sapper (a volunteer covertly digging treacherous tunnels in order to place enormous amounts of explosives beneath enemy lines – a tactic used several times in the war to devastating effect). After the War, he began experiencing symptoms of PTSD and would often experience frightening nightmares, flashbacks, and hallucinations, all of which he kept to himself.
            
            Thomas is shown to be a member of the Small Heath Rifles at the rank of sergeant major – a non-commissioned officer in charge of well-being, morale and training of the entire unit (all other sergeants and corporals answer to him as well as to the actual commanding officers). His flawless conduct in this role (made even more difficult on account of his youth at the time) earned him unwavering respect both from members of his unit and other veterans alike and cemented his reputation in the streets.
            
            As to his heritage, Thomas claims that he is related to the Lee family on his mother's side and Johnny Dogs claims that Thomas's grandfather was a "king", most likely a King of the Gypsies. He is the second of the Shelby siblings.</h4>
      
    </section>
    <a href="/works">More infos</a>
  </div>

  